.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

.buttonStuff {
  text-align: center;
}

.signup {
    font-size: 15px;
    color: blue
}